@model Management_of_Change.Models.ResponseDropdownSelections

@{
    ViewData["Title"] = "Edit";
}

<h1>Response Dropdown Selections</h1>

<h4 ckass="mt-5">Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="ModifiedDate" />
            <input type="hidden" asp-for="ModifiedUser" />
            <input type="hidden" asp-for="DeletedDate" />
            <input type="hidden" asp-for="DeletedUser" />
            <div class="form-group my-3">
                <label asp-for="Response" class="control-label fw-bold"></label>
                <input asp-for="Response" class="form-control" readonly/>
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Order" class="control-label fw-bold"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CreatedUser" class="control-label"></label>
                <input asp-for="CreatedUser" class="form-control" />
                <span asp-validation-for="CreatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedUser" class="control-label"></label>
                <input asp-for="ModifiedUser" class="form-control" />
                <span asp-validation-for="ModifiedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedUser" class="control-label"></label>
                <input asp-for="DeletedUser" class="form-control" />
                <span asp-validation-for="DeletedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group my-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="mx-2 btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
