@model EHS.Models.Dropdowns.agent

@{
    ViewData["Title"] = "Create Agent Entry";
}

<div class="container py-4">
    <div class="card shadow rounded-4">
        <div class="card-body">
            <h2 class="card-title mb-4">Create New Acute/Chronic Entry</h2>

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="created_user" />
                <input type="hidden" asp-for="created_user_fullname" />
                <input type="hidden" asp-for="created_user_email" />
                <input type="hidden" asp-for="created_date" />

                <div class="mb-3">
                    <label asp-for="exposure_type" class="form-label"></label>
                    @Html.DropDownListFor(model => model.exposure_type, new SelectList(ViewBag.ExposureTypes, "Value", "Text"), "-- Select Exposure Type --", new { @class = "form-select select2-single", @id = "AgentEditExposureType" })
                    <span asp-validation-for="exposure_type" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="description" class="form-label fw-bold"></label>
                    <input asp-for="description" class="form-control" />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="sort_order" class="form-label fw-bold"></label>
                    <input asp-for="sort_order" class="form-control" />
                    <span asp-validation-for="sort_order" class="text-danger"></span>
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" asp-for="display" />
                    <label class="form-check-label" asp-for="display"></label>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                    <input type="submit" value="Save" class="btn btn-success px-4" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
