@model Management_of_Change.ViewModels.ChangeRequestViewModel
@{
    ViewData["Title"] = "Details";
}

<partial name="Details Partials/_SvgSymbols" model="Model" />
<partial name="Details Partials/_Header" model="Model" />
<div>
    <partial name="Details Partials/_NavigationTabs" model="Model" />
    <div class="tab-content" id="nav-tabContent">
        <partial name="Details Partials/_DetailsTab" model="Model" />
        <partial name="Details Partials/_GeneralMocQuestionsTab" model="Model" />
        <partial name="Details Partials/_ClassificationReviewTab" model="Model" />
        <partial name="Details Partials/_ChangeGradeReviewTab" model="Model" />
        <partial name="Details Partials/_ImpactAssessmentsTab" model="Model" />
        <partial name="Details Partials/_PccbReviewTab" model="Model" />
        <partial name="Details Partials/_FinalApprovalsTab" model="Model" />
        <partial name="Details Partials/_ImplementationTab" model="Model" />
        <partial name="Details Partials/_RampUpTab" model="Model" />
        <partial name="Details Partials/_CloseOutTab" model="Model" />
        <partial name="Details Partials/_AttachmentsTab" model="Model" />
        <partial name="Details Partials/_TasksTab" model="Model" />
    </div>
</div>

@section Scripts {
    <partial name="Details Partials/_Scripts" model="Model" />
}