@model EHS.Models.seg_risk_assessments

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>seg_risk_assessments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @Html.HiddenFor(m => m.created_user)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exposure_type" class="control-label"></label>
                <input asp-for="exposure_type" class="form-control" />
                <span asp-validation-for="exposure_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="agent" class="control-label"></label>
                <input asp-for="agent" class="form-control" />
                <span asp-validation-for="agent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seg_role" class="control-label"></label>
                <input asp-for="seg_role" class="form-control" />
                <span asp-validation-for="seg_role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="task" class="control-label"></label>
                <input asp-for="task" class="form-control" />
                <span asp-validation-for="task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oel" class="control-label"></label>
                <input asp-for="oel" class="form-control" />
                <span asp-validation-for="oel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="acute_chronic" class="control-label"></label>
                <input asp-for="acute_chronic" class="form-control" />
                <span asp-validation-for="acute_chronic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="route_of_entry" class="control-label"></label>
                <input asp-for="route_of_entry" class="form-control" />
                <span asp-validation-for="route_of_entry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="frequency_of_task" class="control-label"></label>
                <input asp-for="frequency_of_task" class="form-control" />
                <span asp-validation-for="frequency_of_task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration_of_task" class="control-label"></label>
                <input asp-for="duration_of_task" class="form-control" />
                <span asp-validation-for="duration_of_task" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monitoring_data_required" class="control-label"></label>
                <input asp-for="monitoring_data_required" class="form-control" />
                <span asp-validation-for="monitoring_data_required" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="controls_recommended" class="control-label"></label>
                <input asp-for="controls_recommended" class="form-control" />
                <span asp-validation-for="controls_recommended" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exposure_levels_acceptable" class="control-label"></label>
                <input asp-for="exposure_levels_acceptable" class="form-control" />
                <span asp-validation-for="exposure_levels_acceptable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_conducted" class="control-label"></label>
                <input asp-for="date_conducted" class="form-control" />
                <span asp-validation-for="date_conducted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assessment_methods_used" class="control-label"></label>
                <input asp-for="assessment_methods_used" class="form-control" />
                <span asp-validation-for="assessment_methods_used" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seg_number_of_workers" class="control-label"></label>
                <input asp-for="seg_number_of_workers" class="form-control" />
                <span asp-validation-for="seg_number_of_workers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="has_agent_been_changed" class="control-label"></label>
                <input asp-for="has_agent_been_changed" class="form-control" />
                <span asp-validation-for="has_agent_been_changed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="person_performing_assessment" class="control-label"></label>
                <input asp-for="person_performing_assessment" class="form-control" />
                <span asp-validation-for="person_performing_assessment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
