@model Management_of_Change.Models.AllowedAttachmentExtensions

@{
    ViewData["Title"] = "Details";
}

<h1>Allowed Attachment Extensions</h1>

<div>
    <h4 class="mt-5">Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtensionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtensionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="mt-5">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="mx-1 btn btn-secondary">Back to List</a>
</div>
