html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*added mjwii*/
a.navbar-brand {
    white-space: normal !important;
    text-align: center;
    word-break: break-word !important;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.nav-link.active {
    background-color: #3a6bfb !important;
    color: white !important;
}

.nav-link.disabled {
    pointer-events: auto;
}

@@media (min-width: 1800px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1740px;
    }
}

input#session-date {
    display: inline-block;
    position: relative;
}

.submit-progress-bg {
    background-color: lightgray;
    opacity: .5;
}

.disableClick {
    pointer-events: none;
}

.overlay1 {
    position: absolute;
    display: none;
    background-color: rgba(128,128,128,.5);
    top: 0;
    left: 0;
    right: 0;
}

.popup1 {
    position: fixed;
    z-index: 99;
    vertical-align: central;
    display: none;
    margin-left: 30%;
    margin-bottom: 30%;
}

.height40 {
    height: 35vh; /* 40% of the viewport height */
    overflow-y: auto;
}

/* Let popover tables expand */
.popover {
    max-width: none;
}

.navbar .nav-link {
    border-radius: 9999px;
}

.navbar .nav-link:hover {
    background-color: rgba(255,255,255,.12);
}