@model Management_of_Change.Models.SiteLocation

@{
    ViewData["Title"] = "Create";
}

<h1>Site Locations</h1>

<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedUser" />
            <div class="form-group my-3">
                <label asp-for="Description" class="control-label fw-bold"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="Order" class="control-label fw-bold"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CreatedUser" class="control-label"></label>
                <input asp-for="CreatedUser" class="form-control" />
                <span asp-validation-for="CreatedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedUser" class="control-label"></label>
                <input asp-for="ModifiedUser" class="form-control" />
                <span asp-validation-for="ModifiedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedUser" class="control-label"></label>
                <input asp-for="DeletedUser" class="form-control" />
                <span asp-validation-for="DeletedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>*@
            <div class="form-group my-4">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="mx-3" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
