@model Management_of_Change.Models.FinalReviewType

@{
    ViewData["Title"] = "Edit";
}

<h1>Final Review Type</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="ModifiedDate" />
            <input type="hidden" asp-for="ModifiedUser" />
            <input type="hidden" asp-for="DeletedDate" />
            <input type="hidden" asp-for="DeletedUser" />
            <div class="form-group my-3">
                <label asp-for="Type" class="control-label fw-bold"></label>
                <input asp-for="Type" class="form-control" style="max-width:50%" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <span class="fw-bold">Final Reviewer</span>
                @Html.DropDownListFor(model => model.Username, new SelectList(ViewBag.Users,"Value","Text"), new { @class="form-control form-select", @style="max-width:25%;"})
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
@*            <div class="form-group my-3">
                <label asp-for="Email" class="control-label fw-bold"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>*@
            <div class="form-group my-3">
                <label asp-for="Order" class="control-label fw-bold"></label>
                <input asp-for="Order" class="form-control" style="max-width:10%" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="mx-3" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
