@model PtnWaiver.Models.GroupApprovers

@{
    ViewData["Title"] = "Create";
}

<h1>Group\Approvers</h1>
<h4 class="mt-5">Create</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger fw-bold" })
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="CreatedUser" />
            <input type="hidden" asp-for="CreatedUserFullName" />
            <input type="hidden" asp-for="CreatedUserEmail" />
            <div class="form-group my-3">
                <label asp-for="Group" class="control-label fw-bold mb-1"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="PrimaryApproverUsername" class="control-label fw-bold mb-1"></label>
                @* <input asp-for="PrimaryApproverUsername" class="form-control" /> *@
                @Html.DropDownListFor(model => model.PrimaryApproverUsername, new SelectList(ViewBag.Users, "Value", "Text"), "-- select --", new { @class = "form-control form-select", @style = "max-width:25%;" })
                <span asp-validation-for="PrimaryApproverUsername" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="SecondaryApproverUsername" class="control-label fw-bold mb-1"></label>
                @* <input asp-for="SecondaryApproverUsername" class="form-control" /> *@
                @Html.DropDownListFor(model => model.SecondaryApproverUsername, new SelectList(ViewBag.Users, "Value", "Text"), "-- select --", new { @class = "form-control form-select", @style = "max-width:25%;" })
                <span asp-validation-for="SecondaryApproverUsername" class="text-danger"></span>
            </div>
            @*             <div class="form-group my-3">
                <label asp-for="Order" class="control-label fw-bold mb-1"></label>
                <input asp-for="Order" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div> *@
            <div class="form-group my-3">
                <div class="form-check">
                    <input asp-for="WaiverMandatoryApproval" class="form-check-input" />
                    <label asp-for="WaiverMandatoryApproval" class="form-check-label fw-bold"></label>
                </div>
                <span asp-validation-for="WaiverMandatoryApproval" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="mx-2 btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
