@{
    ViewData["Title"] = "Admin Access";
}

<h1 class="mt-3 text-center">Admin Access - Control File Maintenance</h1>
<div class="mt-5 ms-5">
    <div class="row">
        <div class="col-4">
            <p class="h3 text-decoration-underline my-3">PTN Dropdowns</p>            
            <p><a class="navbar-brand" asp-controller="PtnStatus" asp-action="Index">PTN Status</a></p>
            <p><a class="navbar-brand" asp-controller="OriginatingGroups" asp-action="Index">Originating Groups</a></p>
            <p><a class="navbar-brand" asp-controller="ProductSizes" asp-action="Index">Product Sizes </a></p>
            <p><a class="navbar-brand" asp-controller="SubjectTypes" asp-action="Index">Subject Types</a></p>
            <p><a class="navbar-brand" asp-controller="GroupApprovers" asp-action="Index">Groups/Approvers</a></p>                       
            @* <p><a class="navbar-brand" asp-controller="Groups" asp-action="Index">Groups</a></p> *@
@*             <p><a class="navbar-brand" asp-controller="ChangeTypes" asp-action="Index">Change Type</a></p>
            <p><a class="navbar-brand" asp-controller="ChangeAreas" asp-action="Index">Area of Change</a></p>
            <hr/>
            <p><a class="navbar-brand" asp-controller="ReviewTypes" asp-action="Index">Review Type - used with Impact Assessment Matrix</a></p>
            <p><a class="navbar-brand" asp-controller="ImpactAssessmentMatrices" asp-action="Index">Impact Assessment Matrix</a></p>
            <p><a class="navbar-brand" asp-controller="ImpactAssessmentResponseQuestions" asp-action="Index">Impact Assessment Response Questions</a></p>
            <hr />
            <p><a class="navbar-brand" asp-controller="FinalReviewTypes" asp-action="Index">Final Review Type - used with Final Approval Matrix</a></p>
            <p><a class="navbar-brand" asp-controller="ImplementationFinalApprovalMatrices" asp-action="Index">Implementation Final Approval Matrix</a></p> *@
        </div>
        <div class="col-4">
            <p class="h3 text-decoration-underline my-3">Waiver Dropdowns</p>
            <p><a class="navbar-brand" asp-controller="WaiverStatus" asp-action="Index">Waiver Status</a></p>
            <p><a class="navbar-brand" asp-controller="PorProjects" asp-action="Index">Por/Projects</a></p>
            <p><a class="navbar-brand" asp-controller="ProductProcesses" asp-action="Index">Product/Processes</a></p>
@*             <p><a class="navbar-brand" asp-controller="ChangeStatus" asp-action="Index">Change Status</a></p>
            <p><a class="navbar-brand" asp-controller="ChangeLevels" asp-action="Index">Change Level</a></p>
            <p><a class="navbar-brand" asp-controller="SiteLocations" asp-action="Index">Location/Site</a></p>
            <p><a class="navbar-brand" asp-controller="ProductLines" asp-action="Index">Product Line</a></p>  *@    
        </div>
        <div class="col-4">
            <p class="h3 text-decoration-underline my-3">Miscellaneous</p>
            <p><a class="navbar-brand" asp-controller="Administrators" asp-action="Index">Administrators</a></p>
            <p><a class="navbar-brand" asp-controller="AllowedAttachmentExtensions" asp-action="Index">Allowed Attachment Extensions</a></p>
@*             <p><a class="navbar-brand" asp-controller="Admin" asp-action="CancelSelect">Cancel a Change Request</a></p>
            <p><a class="navbar-brand" asp-controller="AllowedAttachmentExtensions" asp-action="Index">Allowed Attachment Extensions</a></p>
            <p><a class="navbar-brand" asp-controller="GeneralMocQuestions" asp-action="Index">General MOC Questions</a></p>
            <p><a class="navbar-brand" asp-controller="ResponseDropdownSelections" asp-action="Index">Response Dropdown Selections</a></p> *@

@*            <p><a class="navbar-brand" asp-controller="ImpactAssessmentResponseAnswers" asp-action="Index">Impact Assessment Response Answers (FOR TESTING)</a></p>
            <p><a class="navbar-brand" asp-controller="ImplementationFinalApprovalResponses" asp-action="Index">Implementation Final Approval Response (FOR TESTING)</a></p>*@
        </div>
    </div>
</div>