@{
    ViewData["Title"] = "Admin Access";
}

<h1 class="mt-3 text-center">Admin Access - Control File Maintenance</h1>
<div class="mt-5 ms-5">
    <div class="row">
        <div class="col-4">
            <p class="h3 text-decoration-underline my-3">PTN Dropdowns</p>            
            <p><a class="navbar-brand" asp-controller="PtnStatus" asp-action="Index">PTN Status</a></p>
            <p><a class="navbar-brand" asp-controller="OriginatingGroups" asp-action="Index">Originating Groups</a></p>
            <p><a class="navbar-brand" asp-controller="ProductSizes" asp-action="Index">Product Sizes </a></p>
            <p><a class="navbar-brand" asp-controller="SubjectTypes" asp-action="Index">Subject Types</a></p>
            <p><a class="navbar-brand" asp-controller="GroupApprovers" asp-action="Index">Groups/Approvers</a></p>                       
        </div>
        <div class="col-4">
            <p class="h3 text-decoration-underline my-3">Waiver Dropdowns</p>
            <p><a class="navbar-brand" asp-controller="WaiverStatus" asp-action="Index">Waiver Status</a></p>
            <p><a class="navbar-brand" asp-controller="ProductProcesses" asp-action="Index">Product/Processes</a></p>
            <p><a class="navbar-brand" asp-controller="WaiverQuestions" asp-action="Index">Waiver Questions</a></p> 
        </div>
        <div class="col-4">
            <p class="h3 text-decoration-underline my-3">Miscellaneous</p>
            <p><a class="navbar-brand" asp-controller="Administrators" asp-action="Index">Administrators</a></p>
            <p><a class="navbar-brand" asp-controller="AllowedAttachmentExtensions" asp-action="Index">Allowed Attachment Extensions</a></p>
@*             <p><a class="navbar-brand" asp-controller="Admin" asp-action="CancelSelect">Cancel a Change Request</a></p>
            <p><a class="navbar-brand" asp-controller="AllowedAttachmentExtensions" asp-action="Index">Allowed Attachment Extensions</a></p>
            <p><a class="navbar-brand" asp-controller="GeneralMocQuestions" asp-action="Index">General MOC Questions</a></p>
            <p><a class="navbar-brand" asp-controller="ResponseDropdownSelections" asp-action="Index">Response Dropdown Selections</a></p> *@

@*            <p><a class="navbar-brand" asp-controller="ImpactAssessmentResponseAnswers" asp-action="Index">Impact Assessment Response Answers (FOR TESTING)</a></p>
            <p><a class="navbar-brand" asp-controller="ImplementationFinalApprovalResponses" asp-action="Index">Implementation Final Approval Response (FOR TESTING)</a></p>*@
        </div>
    </div>
</div>