html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Let popover tables expand */
.popover {
    max-width: none;
}

.navbar .nav-link {
    border-radius: 9999px;
}

.navbar .nav-link:hover {
    background-color: rgba(255,255,255,.12);
}