@{
    ViewData["Title"] = "Admin Access";
}

<h1 class="mt-3 text-center">Admin Access - Control File Maintenance</h1>
<div class="mt-5 ms-5">
    <div class="row">
        <div class="col-6">
            <p class="h3 text-decoration-underline my-3">Modules</p>
            <p><a class="navbar-brand" asp-controller="Admin" asp-action="dropdownSEG">Similar Exposure Group (SEG) Risk Dropdowns</a></p>
            @* <p><a class="navbar-brand" asp-controller="Locations" asp-action="Index">Locations</a></p> *@
        </div>
        <div class="col-6">
            <p class="h3 text-decoration-underline my-3">Miscellaneous</p>
            @* <p><a class="navbar-brand" asp-controller="Administrators" asp-action="Index">Administrators</a></p> *@
        </div>
    </div>
</div>