@{
    ViewData["Title"] = "Admin Access";
}

<div class="">
    <h1 class="mb-5">Administrator Access - Control File Maintenance</h1>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeTypes" asp-action="Index">Change Type</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Change Level</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Current Step</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Answer</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Final Approvers</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Position</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Review Options</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Area of Change</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Emergency</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Location/Site</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ChangeRequests" asp-action="Index">Product Line</a></p>
</div>
